/* App.css */
.App {
  font-family: Arial, sans-serif;
}

.filter-container,
.product-list {
  margin: 20px;
}

.filter-option {
  margin-bottom: 10px;
}

#products {
  display: flex;
  flex-wrap: wrap;
}

.product-item {
  border: 1px solid #ccc;
  padding: 10px;
  margin: 10px;
  width: calc(33.333% - 20px);
  box-sizing: border-box;
}

.product-item h3 {
  margin: 0;
  font-size: 18px;
}

.product-item p {
  margin: 5px 0;
}
